@{

}
<h1>Meet</h1>
<!-- <p><a href="/Meet/Add">Add Information</a></p>  -->
<!-- below is the way to hyperlink via ASP attibutes instead of sing a href above -->
<p><a asp-controller="Meet" asp-action="Add">Add Information</a></p>
<!-- Doing so increases the ease of refactoring -->

@if (ViewBag.meetings.Count == 0)
{
    <p>No Names Yet!</p>
 }


<ul>
    @foreach(KeyValuePair<string, string> meeting in ViewBag.meetings)
    {
        <li>@meeting.Key</li>
        <li>@meeting.Value</li>

    }
</ul>