@{

}
<h1>Meet</h1>
<!-- <p><a href="/Meet/Add">Add Information</a></p>  -->
<!-- below is the way to hyperlink via ASP attibutes instead of sing a href above -->
<p><a asp-controller="Meet" asp-action="Add">Add Information</a></p>
<!-- Doing so increases the ease of refactoring -->

@if (ViewBag.meetings.Count == 0)
{
    <p>No Names Yet!</p>
 }

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        <ul>
            @foreach (KeyValuePair<string, string> meeting in ViewBag.meetings)
            {
                <tr>
                    <td>@meeting.Key</td>
                    <td>@meeting.Value</td>
                </tr>
            }
        </ul>
    </table>

<p><a asp-controller="Meet" asp-action="Add">Add a Meeting Place</a></p>